<h1 class="text-primary">RESULTADOS</h1>
<div class="row">
    <div class="col-md-4">
    <ul class="list-group list-group-numbered"></ol>
        {{#each listaResultados}}
            <li class="list-group-item" id="nombre" value="{{this.cantidadVotos}}"> <strong> {{this.nombre_lista}} </strong> </li>
        {{/each}}
    </ul>
    </div>
    <div class="col-md-8">
        <ol class="list-group list-group-numbered"></ol>
        {{#each listaResultados}}
            <li class="list-group-item"> {{this.nombre_lista}} <strong> cantidad votos = {{this.cantidadVotos}} </strong> </li>
        {{/each}}
    </ol>
    </div>
</div>
<canvas id="myChart" width="500" height="500"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');

let dataValue = [...document.querySelectorAll('#nombre')]
    .map(element => element.value);
let dataElement = [...document.querySelectorAll('#nombre')]
    .map(element => element.innerText);
console.log("datos: " + dataValue);
console.log("Nombres: " + dataElement);
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {        
        labels: dataElement,
        datasets: [{
            label: '# of Votes',            
            data:dataValue,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        //responsive: false,
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>