<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Ingresar</h3>
            </div>
            <img src="/img/elecciones2.png" alt="" width = 200 heigth = 200 class="rounded-cricle mx-auto d-block m-4 logoIn">
            <div class="card-body">
                <form action="/voto/signin" method="POST">                    
                   <div class="form-floating mb-3">
                        <input type="text" name="dni" class="form-control" id="floatingDni" placeholder="Ingrese su D.N.I" maxlength="8"/>
              <label for="floatingDni">Ingrese su D.N.I.</label>
            </div>                  
                    <button class="btn btn-primary btn-block">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>