<div class="jumbotron-mt4">
    <h1 class="display-4">Sistema para realizar elecciones en Escuelas</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quidem nesciunt, beatae qui quas quibusdam?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quo reiciendis minus? Perspiciatis ullam facilis quas ab. Doloribus ipsum blanditiis ea eum quisquam voluptas quae nemo esse? Quibusdam, natus.</p>

    
</div>