{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>PERFECTO!</strong>
    {{success_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >      
    </button>
  </div>
{{/if}}
{{#if errors_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>ERROR CRITICO!</strong>
    {{errors_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

{{#if warning_msg}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>ATENCION!</strong>
    {{warning_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
