<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3>Ingresar</h3>
      </div>
      <img
        src="/img/user2.png"
        alt=""
        class="rounded-cricle mx-auto d-block m-4 logoIn"
        width="100"
        height="100"
      />
      <div class="card-body">
        <form action="/login/signin" method="POST">
          <div class="form-floating mb-3">
            <input
              type="text"
              name="name"
              class="form-control"
              id="floatingName"
              placeholder="Ingrese su Usuario"              
            />
            <label for="floatingName">Ingrese su Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="password"
              name="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Ingrese su Password"
              maxlength="8"
            />
            <label for="floatingPassword">Ingrese su Password</label>
          </div>
          <button class="btn btn-primary btn-block">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>