<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Votar</a></li>
    
    <li class="breadcrumb-item active" aria-current="page">Cursos</li>
  </ol>
</nav>
<div class="row">
<div class="col-md-10">
  <h3>Seleccione el Curso para visualizar Alumnos</h3>
</div>
<div class="col-md-2">
        <a href="/cursos/renderNewCurso"> <button class="btn btn-primary">Crear Nuevo Curso</button> </a>
    </div>
</div>
<hr>
<div class="row mt-5">  
  {{#each cursos}}
    <div class="col-md-3 mt-5">
      
      <div class="card bg-primary text-center">
        <div class="card-header">
          <strong>{{nombre}}</strong>          
        </div>
        <div class="card-body">
          <p class="text-white"> Turno: {{this.turno}} </p>
          
           <a href="/" class="card-link">Editar Curso</a>
           <a href="/curso/alumnos/{{this.id}}" class="card-link text-white"> Lista Alumnos</a>
          
        </div>
      </div>
    </div>
  {{/each}}  
</div>